In [1]:
#Logistic Regression
# We will now be importing some required libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#Loading the dataset
load = pd.read_excel('atus/ehresp_2014.xlsx')
list(load)

['tucaseid',
 'tulineno',
 'eeincome1',
 'erbmi',
 'erhhch',
 'erincome',
 'erspemch',
 'ertpreat',
 'ertseat',
 'ethgt',
 'etwgt',
 'eudietsoda',
 'eudrink',
 'eueat',
 'euexercise',
 'euexfreq',
 'eufastfd',
 'eufastfdfrq',
 'euffyday',
 'eufdsit',
 'eufinlwgt',
 'eusnap',
 'eugenhth',
 'eugroshp',
 'euhgt',
 'euinclvl',
 'euincome2',
 'eumeat',
 'eumilk',
 'euprpmel',
 'eusoda',
 'eustores',
 'eustreason',
 'eutherm',
 'euwgt',
 'euwic',
 'exincome1']

In [2]:
dataset = load[['tucaseid', 'tulineno', 'eeincome1', 'erhhch', 'erincome', 'erspemch', 'ertpreat', 'ertseat', 'ethgt', 'etwgt', 'eudietsoda', 'eudrink', 'eueat', 'euexercise', 'euexfreq', 'eufastfd', 'eufastfdfrq', 'euffyday', 'eufdsit', 'eufinlwgt', 'eusnap', 'eugenhth', 'eugroshp', 'euhgt', 'euinclvl', 'euincome2', 'eumeat', 'eumilk', 'euprpmel', 'eusoda', 'eustores', 'eustreason', 'eutherm', 'euwgt', 'euwic', 'exincome1', 'erbmi']]

In [21]:
X = dataset.iloc[:,1:36].values
y = dataset.iloc[:,-1].values

In [22]:
X

array([[  1.,  -2.,   1., ..., 170.,   1.,   2.],
       [  1.,   1.,   3., ..., 128.,   2.,   0.],
       [  1.,   2.,   3., ..., 270.,   2.,  12.],
       ...,
       [  1.,   1.,   3., ..., 142.,  -1.,   0.],
       [  1.,   2.,   3., ..., 168.,   2.,   0.],
       [  1.,   1.,   3., ..., 140.,   2.,   0.]])

In [15]:
y

array([33.200001, 22.700001, 49.400002, ..., 22.200001, 23.4     ,
       22.6     ])

In [7]:
dataset

,tucaseid,tulineno,eeincome1,erhhch,erincome,erspemch,ertpreat,ertseat,ethgt,etwgt,...,eumilk,euprpmel,eusoda,eustores,eustreason,eutherm,euwgt,euwic,exincome1,erbmi
0,20140101140007,1,-2,1,-1,-1,30,2,0,0,...,2,1,-1,2,1,2,170,1,2,33.200001
1,20140101140011,1,1,3,1,-1,45,14,0,0,...,2,1,-1,1,2,2,128,2,0,22.700001
2,20140101140028,1,2,3,5,-1,60,0,0,0,...,-1,2,2,-1,-1,-1,270,2,12,49.400002
3,20140101140063,1,-2,3,-1,-1,0,0,0,-1,...,2,1,1,2,6,-1,-2,2,2,-1.000000
4,20140101140168,1,2,3,5,-1,65,0,0,0,...,2,1,2,1,1,2,210,1,0,31.000000
5,20140101140559,1,1,3,1,1,20,10,0,0,...,-1,2,1,-1,-1,-1,220,2,0,30.700001
6,20140101140610,1,1,1,1,5,30,5,0,0,...,2,3,2,2,5,2,200,2,0,33.299999
7,20140101140614,1,1,3,1,-1,30,5,0,0,...,2,1,-1,1,3,2,155,-1,0,27.500000
8,20140101140639,1,1,3,1,-1,117,10,0,0,...,2,1,-1,1,4,2,180,-1,0,25.799999
9,20140101140665,1,1,3,1,5,80,0,0,0,...,2,1,1,3,1,2,170,-1,0,28.299999
10,20140101140685,1,1,3,1,-1,35,20,0,0,...,-1,2,1,1,1,-1,282,-1,0,40.500000
11,20140101140702,1,2,1,5,-1,0,5,2,0,...,2,1,2,1,2,2,125,1,0,28.000000
12,20140101140725,1,1,3,1,5,25,10,1,0,...,-1,2,2,-1,-1,-1,235,2,0,27.900000
13,20140101140759,1,2,3,5,5,150,5,0,0,...,-1,2,1,-1,-1,-1,200,-1,0,30.400000
14,20140101140792,1,2,3,5,-1,0,300,0,0,...,-1,2,-1,-1,-1,-1,176,-1,0,26.799999
15,20140101140804,1,1,3,1,5,80,0,0,0,...,-1,2,-1,-1,-1,-1,198,2,0,32.900002
16,20140101140836,1,3,3,2,-1,105,2,0,0,...,2,1,2,1,2,2,132,-1,0,25.799999
17,20140101140852,1,1,3,1,-1,60,5,0,0,...,2,1,-1,1,2,1,164,-1,0,26.500000
18,20140101140854,1,-2,3,-1,-1,30,1,0,0,...,-1,2,1,-1,-1,-1,205,2,2,35.200001
19,20140101140872,1,1,3,1,5,0,10,0,-1,...,2,1,2,1,2,1,-3,2,0,-1.000000
20,20140101140875,1,1,3,1,5,47,15,0,0,...,2,3,1,-1,-1,-1,176,-1,0,25.299999
21,20140101140876,1,1,3,1,5,90,0,0,0,...,2,1,2,2,1,2,160,-1,0,33.400002
22,20140101140885,1,-3,3,-1,-1,45,0,0,0,...,2,1,-1,1,1,2,135,-1,3,25.500000
23,20140101140911,1,1,3,1,5,180,10,0,0,...,2,1,2,1,3,2,180,-1,0,30.000000
24,20140101140940,1,1,3,1,5,30,10,0,0,...,-1,2,1,-1,-1,-1,260,2,0,34.299999
25,20140101140958,1,1,1,1,5,90,10,0,0,...,-1,2,-1,1,1,-1,159,2,0,29.100000
26,20140101140967,1,2,3,5,-1,65,5,0,0,...,2,1,1,2,2,2,130,-1,0,23.799999
27,20140101140973,1,2,3,5,5,90,0,0,0,...,-1,2,-1,-1,-1,-1,201,2,0,26.500000
28,20140101140990,1,1,3,1,-1,10,3,0,0,...,2,3,2,2,6,2,270,-1,0,36.599998
29,20140101140995,1,1,3,1,5,95,0,0,0,...,2,1,-1,2,4,2,175,2,0,28.200001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11182,20141212142154,1,1,3,1,5,115,0,0,0,...,2,1,-1,1,2,2,145,-1,0,28.299999
11183,20141212142164,1,1,3,1,5,100,0,0,0,...,2,1,2,2,3,2,152,2,73,29.700001
11184,20141212142168,1,1,3,1,-1,60,15,0,2,...,-1,2,2,-1,-1,-1,98,2,73,19.100000
11185,20141212142172,1,1,3,1,5,130,0,0,0,...,2,1,-1,1,2,2,145,2,0,22.700001
11186,20141212142199,1,1,3,1,5,40,0,0,0,...,2,3,1,2,1,2,150,-1,0,29.299999
11187,20141212142201,1,1,3,1,5,45,0,0,0,...,-1,2,1,-1,-1,-1,160,-1,0,24.299999
11188,20141212142204,1,1,3,1,5,0,20,0,0,...,2,1,-1,1,2,2,230,-1,0,38.299999
11189,20141212142215,1,1,3,1,5,90,0,0,0,...,-1,2,-1,-1,-1,-1,165,2,0,27.500000
11190,20141212142236,1,1,3,1,5,90,15,0,0,...,-1,2,1,2,1,-1,220,2,0,31.600000
11191,20141212142238,1,1,3,1,5,100,10,0,0,...,2,3,2,1,3,2,175,2,0,23.700001
11192,20141212142263,1,1,3,1,-1,45,10,0,0,...,2,1,2,-2,-1,2,173,-1,0,22.799999
11193,20141212142273,1,1,3,1,-1,90,5,0,0,...,-1,2,2,-1,-1,-1,135,2,0,20.500000
11194,20141212142288,1,1,3,1,5,45,5,0,0,...,2,3,2,1,1,2,150,2,0,23.500000
11195,20141212142311,1,-3,3,-1,5,60,120,0,0,...,2,1,-1,-1,-1,2,216,-1,3,34.900002
11196,20141212142318,1,1,3,1,-1,60,2,0,0,...,2,1,1,1,3,2,197,-1,0,26.000000
11197,20141212142361,1,2,3,5,-1,30,0,0,0,...,2,1,-1,1,2,2,180,2,0,31.900000
11198,20141212142393,1,2,3,5,5,285,0,0,0,...,-1,2,-1,-1,-1,-1,162,2,0,28.700001
11199,20141212142397,1,1,3,1,-1,0,30,0,0,...,-1,2,1,1,2,-1,215,-1,0,29.200001
11200,20141212142398,1,2,3,5,5,105,0,0,0,...,2,1,2,1,4,2,153,-1,0,26.299999
11201,20141212142400,1,2,3,5,5,45,0,0,0,...,-1,2,-1,1,2,-1,170,-1,0,30.100000
11202,20141212142422,1,-3,3,-1,5,30,10,0,0,...,-1,2,1,-1,-1,-1,250,-1,3,36.900002
11203,20141212142441,1,1,3,1,5,80,0,0,0,...,2,1,2,1,2,2,242,-1,0,35.700001
11204,20141212142461,1,1,3,1,-1,80,15,0,0,...,-1,2,2,1,1,-1,175,-1,0,27.400000
11205,20141212142462,1,1,3,1,5,70,21,0,0,...,2,3,2,1,2,2,160,2,0,25.100000
11206,20141212142470,1,2,1,5,-1,45,10,0,0,...,2,1,-1,2,2,2,149,2,0,27.200001
11207,20141212142472,1,1,3,1,-1,45,0,0,0,...,2,1,1,1,2,2,180,-1,0,27.400000
11208,20141212142476,1,2,3,5,5,30,0,0,0,...,2,3,2,1,2,2,140,2,0,24.000000
11209,20141212142480,1,1,3,1,5,90,5,0,0,...,2,1,-1,3,3,2,142,-1,0,22.200001
11210,20141212142484,1,2,3,5,-1,240,0,0,0,...,-1,2,1,-1,-1,-1,168,2,0,23.400000
11211,20141212142500,1,1,3,1,5,120,70,0,0,...,2,1,-1,1,2,2,140,2,0,22.600000

In [ ]:
#Splitting the data into Training Set and Test Set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=0)

#Normalizing the features
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [ ]:
#Fitting Classifier to Training Set. Create a classifier object here and call it classifierObj
from sklearn.ensemble import RandomForestClassifier
classifierObj = RandomForestClassifier(criterion='entropy')
classifierObj.fit(X_train,y_train)

#Making predictions on the Test Set
y_pred = classifierObj.predict(X_test)